<main id="main">
    <section class="sign-in-form">
        <div class="container" data-aos="fade-left">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="sign-form">
                        <h4 class="mb-5">Sign in to Prophot</h4>
                        <form [formGroup]="loginForm" (ngSubmit)="logInNow(loginForm.value)" id="form-signin">
                            <div class="form-group mb-3">
                                <input type="text" name="email" formControlName="email" class="form-control" id="email"
                                    placeholder="Email" required="">
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" name="password" formControlName="password" class="form-control"
                                    id="password" placeholder="Password" required="">
                            </div>
                            <div class="form-group mb-5">
                                <p>Forgot your password?</p>
                            </div>
                            <div class="form-group mb-4">
                                <button type="submit" disabled=[disabled]="!loginForm.valid">Sign in</button>
                            </div>
                            <div class="form-group sign-up-text">
                                <p><a routerLink="/create-account">Don’t have an account? Sign up.</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="prophit-logo mt-4 text-center">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Prophit">
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->