
    <section class="sign-in-form">
      <div class="container" data-aos="fade-left">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-5 col-md-8">
            <div class="sign-form">
              <h4 class="mb-5">Verify Your Email</h4>
              <p>We sent a verification email to <b>{{email}}</b> It contains the link you’ll use to verify your email to complete sign up.</p>
              <p class="didnt-get"><a href="">Didn’t get email? Resend Now.</a></p>
            </div>
            <div class="prophit-logo mt-4 text-center">
              <img src="assets/img/logo.png" class="img-fluid" alt="Prophit">
            </div>
          </div>
        </div>
      </div>
    </section>