<main id="main">
    <section class="create-account-form">
        <div class="container" data-aos="fade-left">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="sign-form">
                        <h4 class="mb-2">Create Account</h4>
                        <p class="mb-3">Set up your free account.</p>
                        <form [formGroup]="createAccountForm" (ngSubmit)="registerNow(createAccountForm.value)"
                            id="account_create_from" action="" type="POST">
                            <div class="form-group mb-3">
                                <input type="text" name="first-name" formControlName="firstName" class="form-control"
                                    id="first-name" placeholder="First Name" required="">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="last-name" formControlName="lastName" class="form-control"
                                    id="last-name" placeholder="Last Name" required="">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="email" formControlName="email" class="form-control" id="email"
                                    placeholder="Email" required="">
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" name="password" formControlName="password" class="form-control"
                                    id="password" placeholder="Password" required="">
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" name="reTypePassword" formControlName="reTypePassword"
                                    class="form-control" id="retypepassword" placeholder="Password Again" required="">
                            </div>
                            <div class="form-group mb-4">
                                <button type="submit" [disabled]="!createAccountForm.valid">Sign Up</button>
                            </div>
                            <div class="form-group sign-up-text">
                                <p (click)="goToSignIn()"><a href="">Don’t have an account? Sign in.</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="prophit-logo mt-4 text-center">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Prophit">
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->